<div class="row">
  <div class="loginBox col justify-content-center">
    <h2 class="login">Login</h2>
    <form class="form loginSubmit">
      <div class="form-group">
        <input class="loginTextBox form-input" type="text" placeholder="Username" id="username-login" />
      </div>
      <div class="form-group">
        <input class="loginTextBox form-input" type="password" placeholder="Password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="loginBtn btn-primary" type="submit">Login</button>
      </div>
      <div>
        <a class="sign-upLink" href="/sign-up">Create Your Account Here!</a>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>